/* 
background color: #fafafa 
float block color: #ffffff
*/
@charset "utf-8";
html {
    background-color: #fafafa;
    height: 100%;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.head {
    font-size: 1.25em;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    border-bottom: 0.5px solid #ccc;
}

body {
	font-family: "Roboto", Helvetica, sans-serif;
	font-weight: 100;
	line-height: 1.75em;
    align-items: center;
    margin: 0%;
}

.wrap {
    margin-bottom: -0.1%;
    height: 100%;
}

.content {
    height: 100%;
    display: flex;
}

aside {
    display: block;
    background-color: #ffffff;
    width: 10em;
    height: 100%;
    border-right: 0.5px solid #ccc;
}

.search_button {
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em larger;
    text-decoration: none;
    color: #000000;
}

.search_button:hover {
    transform: scale(1.1);
    transition: all 0.3s ease 0s;
    background-color: #eaeaea;
}

.search_button:visited {
    color: #000000;
}

.main {
    width: 100%;
    height: 100%;
    display: block;
}

.search {
    text-align: center;
}

.condition {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-item {
    font-size: 15px;
    margin: 1em;
}

.input-item input {
    background-color: #ffffff;
    border: 0.5px solid #ccc;
    border-radius: 3px;
    width: 13em;
    height: 2em;
    font-size: 16px;
}

.input-item input:hover {
    transform: scale(1.1);
    transition: all 0.3s ease 0s;
    background-color: #eaeaea;
}

.input-item input:focus {
    outline: none;
}

.submit {
    margin-top: 1em;
    height: 2.6em;
    width: 10em;
    border: 0.1px solid #ccc;
    border-radius: 3px;
    font-size: 15px;
    background-color: #ffffff;      
}

.submit:hover {
    transform: scale(1.1);
    transition: all 0.3s ease 0s;
    background-color: #eaeaea;
}

.result {
    text-align: center;
    background-color: #ffffff;
    border: 0.5px solid #ccc;
    border-radius: 3px;
    margin: 1em;
    margin-top: 2em;
    padding: 1.5em;
    opacity: 0;
    animation: fadeIn 1s ease-in-out;
}

.result table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.result th, .result td {
    border: 0.5px solid #ccc;
    border-radius: 3px;
}