<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Search Cart Info</title>
</head>
<body class="wrap">
    <section class="head">
        <div>E COMMERCE BACKEND</div>
    </section>
    <section class="content">
        <aside>
            <a href="/" class="search_button">HOME</a>
            <a href="customer" class="search_button">CUSTOMER</a>
            <a href="product" class="search_button">PRODUCT</a>
            <a href="order" class="search_button">ORDER</a>
            <a href="cart" class="search_button">CART</a>
        </aside> 
        <div class="main">
            <form action="/cart" method="POST" class="search">
                <div class="condition">
                    <div class="input-item">
                        <label for="by_CustomerID">Customer ID:</label><br>
                        <input type="text" id="by_CustomerID" name="by_CustomerID" autocomplete="off">
                    </div>
                </div>
                <input type="submit" value="Search" class="submit">
            </form>
            <div class="result">
                {% if show_no_result %}
                    <p>No results found.</p>
                {% endif %}
                {% if result %}
                    <table>
                        <tr>
                            <th>Customer Name</th>
                            <th>Total Price</th>
                            <th>Products</th>
                        </tr>
                        {% for row in result %}
                            <tr>
                                <td>{{ row[0] }}</td>
                                <td>${{ row[1] }}</td>
                                <td>{{ row[2] | safe }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
    </section>
</body>
</html>