<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Search Customer Info</title>
</head>
<body class="wrap">
    <section class="head">
        <div>E COMMERCE BACKEND</div>
    </section>
    <section class="content">
        <aside>
            <a href="/" class="search_button">HOME</a>
            <a href="customer" class="search_button">CUSTOMER</a>
            <a href="product" class="search_button">PRODUCT</a>
            <a href="order" class="search_button">ORDER</a>
            <a href="cart" class="search_button">CART</a>
        </aside> 
        <div class="main">
            <form action="/customer" method="POST" class="search">
                <div class="condition">
                    <div class="input-item">
                        <label for="by_CustomerID">ID</label><br>
                        <input type="text" id="by_CustomerID" name="by_CustomerID" autocomplete="off">
                    </div>
                    <div class="input-item">
                        <label for="by_CustomerName">Name</label><br>
                        <input type="text" id="by_CustomerName" name="by_CustomerName" autocomplete="off">
                    </div>
                    <div class="input-item">
                        <label for="by_PhoneNumber">Phone Number</label><br>
                        <input type="text" id="by_PhoneNumber" name="by_PhoneNumber" autocomplete="off">
                    </div>
                    <div class="input-item">
                        <label for="by_Address">Address</label><br>
                        <input type="text" id="by_Address" name="by_Address" autocomplete="off">
                    </div>
                    <div class="input-item">
                        <label for="by_EmailAddress">Email Address</label><br>
                        <input type="text" id="by_EmailAddress" name="by_EmailAddress" autocomplete="off">
                    </div>
                </div>
                <input type="submit" value="Search" class="submit">
            </form>
            <div class="result">
                {% if show_no_result %}
                    <p>No results found.</p>
                {% endif %}
                {% if result %}
                    {% if result %}
                        <table>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Phone Number</th>
                                <th>Address</th>
                                <th>Email Address</th>
                            </tr>
                            {% for row in result %}
                                <tr>
                                    <td>{{ row[0] }}</td>
                                    <td>{{ row[1] }}</td>
                                    <td>{{ row[3] }}</td>
                                    <td>{{ row[2] }}</td>
                                    <td>{{ row[4] }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </section>
</body>
</html>
