<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <script src="../static/javascript/echarts.min.js"></script>
    <script src="../static/javascript/index.js"></script>
    <title>E Commerce Backend</title>
</head>
<body class="wrap">
    <section class="head">
        <div>E COMMERCE BACKEND</div>
    </section>
    <section class="content">
        <aside>
            <a href="" class="search_button">HOME</a>
            <a href="search_CustomerInfo" class="search_button">CUSTOMER</a>
            <a href="search_ProductInfo" class="search_button">PRODUCT</a>
            <a href="search_OrderInfo" class="search_button">ORDER</a>
            <a href="search_CartInfo" class="search_button">CART</a>
        </aside> 
        <div class="main">
            <div class="banner">
                <div class="dashboard" id="month-order">
                    <div class="chart" id="month-order-chart"></div>
                </div>
                <div class="dashboard" id="category-sale">
                    <div class="chart" id="category-sale-chart"></div>
                </div>
            </div>
            <div class="banner">
                <div class="dashboard" id="month-sale">
                    <div class="chart" id="month-sale-chart"></div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>