<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/index.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>E Commerce Backend</title>
</head>
<body class="wrap">
    <section class="head">
        <div>E COMMERCE BACKEND</div>
    </section>
    <section class="side-bar">
        <aside>
            <br>
            <a href="" class="search_button">HOME</a>
            <br>
            <a href="search_CustomerInfo" class="search_button">CUSTOMER</a>
            <br>
            <a href="search_ProductInfo" class="search_button">PRODUCT</a>
            <br>
            <a href="search_OrderInfo" class="search_button">ORDER</a>
            <br>
            <a href="search_CartInfo" class="search_button">CART</a>
        </aside> 
    </section>
</body>
</html>