<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script src="../static/javascript/echarts.min.js"></script>
    <script src="../static/javascript/ChartRenderer.js"></script>
    <script src="../static/javascript/product.js"></script>
    <title>Search Customer Info</title>
</head>
<body class="wrap">
    <section class="head">
        <div>E COMMERCE BACKEND</div>
    </section>
    <section class="content">
        <aside>
            <a href="/" class="search_button">HOME</a>
            <a href="customer" class="search_button">CUSTOMER</a>
            <a href="product" class="search_button">PRODUCT</a>
            <a href="order" class="search_button">ORDER</a>
            <a href="cart" class="search_button">CART</a>
        </aside>
        <div class="main">
            <div class="banner">
                <div class="dashboard" id="product-rank">
                    <div class="chart" id="product-rank-chart"></div>
                </div>
                <div class="dashboard" id="category-rank">
                    <div class="chart" id="category-rank-chart"></div>
                </div>
            </div>
            <form action="/product" method="POST" class="search">
                <div class="condition">
                    <div class="input-item">
                        <label for="by_ProductID">Product ID:</label><br>
                        <input type="text" id="by_ProductID" name="by_ProductID" autocomplete="off">
                    </div>
                    <div class="input-item">
                        <label for="by_ProductName">Product Name:</label><br>
                        <input type="text" id="by_ProductName" name="by_ProductName" autocomplete="off">
                    </div>
                    <div class="input-item">
                        <label for="by_Category">Category:</label><br>
                        <input type="text" id="by_Category" name="by_Category" autocomplete="off">
                    </div>
                </div>
                <input type="submit" value="Search" class="submit">
            </form>
            <div class="result">
                {% if show_no_result %}
                    <p>No results found.</p>
                {% endif %}
                {% if result %}
                    <table>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Remain Quantity</th>
                            <th>Category</th>
                            <th>Price</th>
                        </tr>
                        {% for row in result %}
                            <tr>
                                <td>{{ row[0] }}</td>
                                <td>{{ row[1] }}</td>
                                <td>{{ row[3] }}</td>
                                <td>{{ row[2] }}</td>
                                <td>${{ row[4] }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
    </section>
</body>
</html>