<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/search_OrderInfo.css">
    <title>Search Order Info</title>
</head>
<body class="wrap">
    <section class="head">
        <div>E COMMERCE BACKEND</div>
    </section>
    <section class="content">
        <aside>
            <a href="/" class="search_button">HOME</a>
            <a href="search_CustomerInfo" class="search_button">CUSTOMER</a>
            <a href="search_ProductInfo" class="search_button">PRODUCT</a>
            <a href="search_OrderInfo" class="search_button">ORDER</a>
            <a href="search_CartInfo" class="search_button">CART</a>
        </aside>
        <div class="main">
            <form action="/search_OrderInfo" method="POST">
                <label for="by_OrderID">Order ID:</label>
                <input type="text" id="by_OrderID" name="by_OrderID">
                <label for="by_OrderDate">Order Date:</label>
                <input type="text" id="by_OrderDate" name="by_OrderDate">
                <label for="by_CustomerID">Customer ID:</label>
                <input type="text" id="by_CustomerID" name="by_CustomerID">
                <label for="by_PurchaseStatus">Purchase Status</label>
                <input type="text" id="by_PurchaseStatus" name="by_PurchaseStatus">
                <input type="submit" value="Search">
            </form>
            {% if show_no_result %}
                <p>No results found.</p>
            {% endif %}
            {% if result %}
                <h2>Search Result:</h2>
                <table border="1">
                    <tr>
                        <th>Order ID</th>
                        <th>Date</th>
                        <th>Customer Name</th>
                        <th>Total Price</th>
                        <th>Purchase Status</th>
                        <th>Products</th>
                    </tr>
                    {% for row in result %}
                        <tr>
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>${{ row[3] }}</td>
                            <td>{{ row[4] }}</td>
                            <td>{{ row[5] | safe}}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </section>
</body>
</html>
